# Paycheck Protection Program (PPP) Loans

In response to the negative impact of COVID on the economy, the federal government declared a state of emergency and provided relief loans to small businesses to support them during the pandemic.  In response to a FOIA request, federal judges decided that this information was important and necessary to disclose to the public.  There has been significant controversy regarding whether these loans were effective in boosting the depressed economy.  Many such loans were forgiven.  We seek to examine these data and make connections with other related datasets to find patterns.

In [2]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# dataset sourced from https://data.sba.gov/dataset/ppp-foia
# created March 2, 2021, 4:30 PM (UTC-08:00)
# updated October 3, 2023, 8:04 AM (UTC-07:00)
# split across 13 csv files - 12 files describe loans under 150k, 1 file describe loans above 150k

ppp_1 = pd.read_csv('../data/public_up_to_150k_1_230930.csv')

In [4]:
ppp_1.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,3509338307,01/22/2021,NaN,PPS,Exemption 6,NaN,NaN,NaN,NaN,02/18/2022,...,Non-Profit Organization,NaN,NaN,NaN,NaN,Unanswered,Unanswered,Y,150775.38,01/13/2022
1,5375617707,05/01/2020,101.0,PPP,NOT AVAILABLE,NaN,NaN,NaN,NaN,07/16/2021,...,NaN,9551.0,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,NaN,150083.01,06/11/2021
2,9677497701,05/01/2020,464.0,PPP,NORTH CHARLESTON HOSPITALITY GROUP LLC,192 College Park Rd,Ladson,NaN,29456-3517,09/25/2021,...,Limited Liability Company(LLC),19248.0,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,141920.11,08/25/2021
3,9547167709,05/01/2020,464.0,PPP,Q AND J SERVICES LLC,301 Old Georgetown Road,Manning,NaN,29102-2734,04/20/2021,...,Limited Liability Company(LLC),19248.0,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,137747.78,03/29/2021
4,8885207205,04/28/2020,NaN,PPP,Exemption 6,NaN,NaN,NaN,NaN,05/20/2021,...,Non-Profit Organization,NaN,NaN,NaN,NaN,Unanswered,Unanswered,Y,131876.98,04/27/2021

In [5]:
ppp_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900000 entries, 0 to 899999
Data columns (total 53 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   LoanNumber                   900000 non-null  int64
 1   DateApproved                 900000 non-null  object
 2   SBAOfficeCode                899972 non-null  float64
 3   ProcessingMethod             900000 non-null  object
 4   BorrowerName                 899999 non-null  object
 5   BorrowerAddress              899858 non-null  object
 6   BorrowerCity                 899855 non-null  object
 7   BorrowerState                899848 non-null  object
 8   BorrowerZip                  899859 non-null  object
 9   LoanStatusDate               879679 non-null  object
 10  LoanStatus                   900000 non-null  object
 11  Term                         900000 non-null  int64
 12  SBAGuarantyPercentage        900000 non-null  int64
 13  InitialApprovalAmount        900000 non-null  float64
 14  CurrentApprovalAmount        900000 non-null  float64
 15  UndisbursedAmount            899943 non-null  float64
 16  FranchiseName                14209 non-null   object
 17  ServicingLenderLocationID    899972 non-null  float64
 18  ServicingLenderName          899972 non-null  object
 19  ServicingLenderAddress       899972 non-null  object
 20  ServicingLenderCity          899972 non-null  object
 21  ServicingLenderState         899972 non-null  object
 22  ServicingLenderZip           899972 non-null  object
 23  RuralUrbanIndicator          900000 non-null  object
 24  HubzoneIndicator             900000 non-null  object
 25  LMIIndicator                 899999 non-null  object
 26  BusinessAgeDescription       900000 non-null  object
 27  ProjectCity                  899854 non-null  object
 28  ProjectCountyName            899784 non-null  object
 29  ProjectState                 899868 non-null  object
 30  ProjectZip                   899858 non-null  object
 31  CD                           899799 non-null  object
 32  JobsReported                 899999 non-null  float64
 33  NAICSCode                    886628 non-null  float64
 34  Race                         900000 non-null  object
 35  Ethnicity                    900000 non-null  object
 36  UTILITIES_PROCEED            271814 non-null  float64
 37  PAYROLL_PROCEED              899066 non-null  float64
 38  MORTGAGE_INTEREST_PROCEED    19320 non-null   float64
 39  RENT_PROCEED                 49402 non-null   float64
 40  REFINANCE_EIDL_PROCEED       8489 non-null    float64
 41  HEALTH_CARE_PROCEED          19064 non-null   float64
 42  DEBT_INTEREST_PROCEED        11467 non-null   float64
 43  BusinessType                 899850 non-null  object
 44  OriginatingLenderLocationID  899972 non-null  float64
 45  OriginatingLender            899972 non-null  object
 46  OriginatingLenderCity        899972 non-null  object
 47  OriginatingLenderState       899972 non-null  object
 48  Gender                       900000 non-null  object
 49  Veteran                      900000 non-null  object
 50  NonProfit                    20181 non-null   object
 51  ForgivenessAmount            837813 non-null  float64
 52  ForgivenessDate              837813 non-null  object
dtypes: float64(16), int64(3), object(34)
memory usage: 363.9+ MB

There are 53 features which encompass descriptive information such as the company name of the borrower, the geographic location of the company, and the type of business.  There are a number of target variables which spring to mind.  For example, the status of the loan.  At the time of the collection of this dataset, if the loan is over, we can observe the status of that loan as paid in full, in default, or has been forgiven.  We could model the outcome of a loan.

Another potential target is to model what percentage of a loan would be forgiven.

If we can access data about all PPP loan applications, we can build a model to predict the approved loan amount.

We will update this section if other interesting research questions make themselves known.  We hypothesize that if we can find related datasets about pandemic economy outcomes OR geographically organized information about COVID disease burden like hospitalizations OR about local government policy for enforced isolation leading to reduced patronage of small businesses, then we can ask even more interesting questions.  (*) One such augmented hypothesis might ask whether disease burden reduced small business revenue or isolation policies.  

We took guidance from this source: https://www.jennifer-case.com/featured-projects

In [6]:
# Generate an easy to read data dictionary
dict_df = pd.read_csv('../data/ppp-data-dictionary.csv', index_col=0)
dict_df['dtype'] = ppp_1.dtypes
dict_df.reset_index(inplace=True)

In [7]:
dict_df.iloc[:5, :]

,Field Name,Field Description,dtype
0,LoanNumber,Loan Number (unique identifier),int64
1,DateApproved,Loan Funded Date,object
2,SBAOfficeCode,SBA Origination Office Code,float64
3,ProcessingMethod,Loan Delivery Method (PPP for first draw; PPS ...,object
4,BorrowerName,Borrower Name,object

LoanNumber is a unique numeric identifier.

DateApproved is the date the loan was funded.

SBAOfficeCode is an identifier for which Small Business Administration office processed this loan application.

BorrowerName is the company name.

In [8]:
dict_df.iloc[3,1] # Greater detail on ProcessingMethod

'Loan Delivery Method (PPP for first draw; PPS for second draw)'

ProcessingMethod is categorical. It is designated PPP if the loan was drawn once from the original program.  

The loan program was revived and extended to March 31, 2021.  In this case, only businesses who had previously been granted a First Draw loan can qualify for a Second Draw loan.  A borrower can get a Second Draw Loan before their First Draw Loan funds are used up, but it will only be disbursed afterwards. These loans are designated PPS. 

(Reference: https://www.cpmlaw.com/understanding-the-difference-between-the-new-and-old-ppp-loan-programs/)

In [9]:
dict_df.iloc[5:10,:]

        Field Name                                  Field Description   dtype
5  BorrowerAddress                            Borrower Street Address  object
6     BorrowerCity                                      Borrower City  object
7    BorrowerState                                     Borrower State  object
8      BorrowerZip                                  Borrower Zip Code  object
9   LoanStatusDate  Loan Status Date\n- Loan Status Date is  blank...  object

These fields record address and geographic location data for the borrower.  Of interest is that these data have been converted into latitude and longitude data (Source: https://www.geocod.io/geocoded-ppp-loan-data/). This can enable geocoded data augmentation with census data, Congressional districts, and demographic data.

In [10]:
dict_df.iloc[9, 1]

'Loan Status Date\n- Loan Status Date is  blank when the loan is disbursed but not Paid In Full or Charged Off'

LoanStatusDate is the date when the loan was fully paid back or forgiven.
When loan repayment is still owed, either from being in default or the loan term has not yet ended, the field is blank. This is an important feature to wrangle as it is a potential target variable for classification.

In [11]:
dict_df.iloc[10:15,:]

,Field Name,Field Description,dtype
10,LoanStatus,Loan Status Description\n- Loan Status is repl...,object
11,Term,Loan Maturity in Months,int64
12,SBAGuarantyPercentage,SBA Guaranty Percentage,int64
13,InitialApprovalAmount,Loan Approval Amount(at origination),float64
14,CurrentApprovalAmount,Loan Approval Amount (current),float64

In [12]:
dict_df.iloc[10, 1]

"Loan Status Description\n- Loan Status is replaced by 'Exemption 4' when the loan is disbursed but not Paid in Full or Charged Off"

LoanStatus can be Paid in Full or Charged Off.  However, if the loan is still owed, this will be designated Exemption 4.  We will add a more detailed description of what Exemption 4 includes.

Term is the length of the loan period in months.

SBAGuarantyPercentage - if the small business defaults on the loan which is issued by a private lender, the SBA guarantees repayment of a substantial percentage of the loan amount.  This is intended to encourage lenders to grant credit by being a substitute for collateral.  There are some interesting secondary market effects for selling the guaranteed portion of the loan. (Refer here: https://www.wolterskluwer.com/en/expert-insights/sba-loan-guarantees)

InitialApprovalAmount is the amount of the loan.

CurrentApprovalAmount is the current amount of the approval amount and may have been increased since the original loan extended.  The dataset includes Second Draw loans, so this may describe the loan amount after a second draw.

In [13]:
dict_df.iloc[15:23,:]

                   Field Name                       Field Description    dtype
15          UndisbursedAmount                      Undisbursed Amount  float64
16              FranchiseName                          Franchise Name   object
17  ServicingLenderLocationID  Lender Location ID (unique identifier)  float64
18        ServicingLenderName                   Servicing Lender Name   object
19     ServicingLenderAddress         Servicing Lender Street Address   object
20        ServicingLenderCity                   Servicing Lender City   object
21       ServicingLenderState                  Servicing Lender State   object
22         ServicingLenderZip               Servicing Lender Zip Code   object

UndisbursedAmount - the amount of the loan which has not been disbursed yet.

FranchiseName is the name of franchise if applicable.

ServicingLenderLocationID identifiers for the private lender that actually issued the loan.
ServicingLenderName
ServicingLenderAddress
ServicingLenderCity
ServicingLenderState

In [14]:
dict_df.iloc[23:31,:]

                Field Name               Field Description   dtype
23     RuralUrbanIndicator  Rural or Urban Indicator (R/U)  object
24        HubzoneIndicator         Hubzone Indicator (Y/N)  object
25            LMIIndicator             LMI Indicator (Y/N)  object
26  BusinessAgeDescription        Business Age Description  object
27             ProjectCity                    Project City  object
28       ProjectCountyName             Project County Name  object
29            ProjectState                   Project State  object
30              ProjectZip                Project Zip Code  object

RuralUrbanIndicator - identifies the business as located in a rural or urban location

HubzoneIndicator - a HUBZone is a business located in a low income, high poverty, or high unemployment community

LMIIndicator - low and moderate income communities

BusinessAgeDescription	- how long the company has been in business

ProjectCity, ProjectCountyName, ProjectState, ProjectZip - address information for the project

TODO: BUT we need to look closer to determine what projec this refers to

In [15]:
dict_df.iloc[31:43,:]

,Field Name,Field Description,dtype
31,CD,Project Congressional District,object
32,JobsReported,Number of Employees,float64
33,NAICSCode,NAICS 6 digit code,float64
34,Race,Borrower Race Description,object
35,Ethnicity,Borrower Ethnicity Description,object
36,UTILITIES_PROCEED,Note: Proceed data is lender reported at origi...,float64
37,PAYROLL_PROCEED,Note: Proceed data is lender reported at origi...,float64
38,MORTGAGE_INTEREST_PROCEED,Note: Proceed data is lender reported at origi...,float64
39,RENT_PROCEED,Note: Proceed data is lender reported at origi...,float64
40,REFINANCE_EIDL_PROCEED,Note: Proceed data is lender reported at origi...,float64
41,HEALTH_CARE_PROCEED,Note: Proceed data is lender reported at origi...,float64
42,DEBT_INTEREST_PROCEED,Note: Proceed data is lender reported at origi...,float64

CD - The congressional district where this project was located

JobsReported - number of employees in this business aka business size

NAICSCode - North American Industry Classification System code describes what kind of business is conducted.  For example, agricultural products, or computer services.

Race, Ethnicity - Race, ethnicity of the borrower.  This information is relevant to the incentives created to prioritize racial and gender minority owned businesses for PPP aid.  These businesses may have qualified for other kinds of aid or benefits.

In [16]:
dict_df.iloc[36,1]

'Note: Proceed data is lender reported at origination.  On the PPP application the proceeds fields were check boxes.  '

UTILITIES_PROCEED, PAYROLL_PROCEED, MORTGAGE_INTEREST_PROCEED, RENT_PROCEED, REFINANCE_EIDL_PROCEED, HEALTH_CARE_PROCEED 

A loan proceed is the funds which were disbursed as part of the loan. These categories refer to what the loan proceeds would be used for.  For example, are they to be used for covering payroll, mortgage interest, or health care for workers. These variables describe the portion of the total loan proceeds which were used for different operating cost categories.

In [17]:
dict_df.iloc[43:,:]

,Field Name,Field Description,dtype
43,BusinessType,Business Type Description,object
44,OriginatingLenderLocationID,Originating Lender ID (unique identifier),float64
45,OriginatingLender,Originating Lender Name,object
46,OriginatingLenderCity,Originating Lender City,object
47,OriginatingLenderState,Originating Lender State,object
48,Gender,Gender Indicator,object
49,Veteran,Veteran Indicator,object
50,NonProfit,'Yes' if Business Type = Non-Profit Organizati...,object
51,ForgivenessAmount,Forgiveness Amount,float64
52,ForgivenessDate,Forgiveness Paid Date,object

BusinessType - whether the business is a non profit, or other designation

OriginatingLenderLocationID, OriginatingLender, OriginatingLenderCity, OriginatingLenderState - describe biographical information about the originating lender.  This is the lender which approved and structured the loan.  This stands in contrast with the servicing lender which administrates the disbursement of the funds and loan repayment.  Sometimes, the same lender entity handles both tasks.

Gender, Veteran - whether the borrow has a special status which the PPP is directed to prioritize for additional benefits

NonProfit - binary category of whether the business is a nonprofit organization

ForgivenessAmount - The amount (full or partial) of the loan which was forgiven in the case that the borrower cannot pay back the loan.  When small businesses are unable to recoup the money, but if they spent the loan proceeds correctly according to the PPP rules, the SBA will forgive these loans.

ForgivenessDate	- The date when the ForgivenessAmount is authorized.

### Cleaning up the datatypes

In [18]:
# TODO make a pipline to process all the separate csvs this way

In [19]:
ppp_1['DateApproved'] = pd.to_datetime(ppp_1['DateApproved'])
ppp_1['DateApproved'].head()

0   2021-01-22
1   2020-05-01
2   2020-05-01
3   2020-05-01
4   2020-04-28
Name: DateApproved, dtype: datetime64[ns]

In [20]:
ppp_1['LoanNumber'].head()

0    3509338307
1    5375617707
2    9677497701
3    9547167709
4    8885207205
Name: LoanNumber, dtype: int64

In [21]:
ppp_1['SBAOfficeCode'].describe()

count    899972.000000
mean        827.963164
std         193.933958
min         101.000000
25%         669.000000
50%         914.000000
75%         942.000000
max        9030.000000
Name: SBAOfficeCode, dtype: float64

In [22]:
ppp_1['ProcessingMethod'].describe()

count     900000
unique         2
top          PPP
freq      653482
Name: ProcessingMethod, dtype: object

In [23]:
ppp_1['BorrowerName'].unique()

array(['Exemption 6', 'NOT AVAILABLE',
       'NORTH CHARLESTON HOSPITALITY GROUP LLC', ...,
       'PRIYANKARA KATUGAMPOLAGE', 'ANTHONY ALFORD',
       'BRYAN KREFT LAW OFFICES'], dtype=object)

In [24]:
ppp_1['LoanStatusDate'] = pd.to_datetime(ppp_1['LoanStatusDate'])
ppp_1[['LoanStatusDate', 'LoanStatus']].head()

  LoanStatusDate    LoanStatus
0     2022-02-18  Paid in Full
1     2021-07-16  Paid in Full
2     2021-09-25  Paid in Full
3     2021-04-20  Paid in Full
4     2021-05-20  Paid in Full

In [25]:
# ppp_1 = pd.read_csv('../data/public_up_to_150k_1_230930.csv')
ppp_1['LoanStatusDate'].value_counts()

LoanStatusDate
2021-04-16    20556
2022-03-22    14774
2021-09-28    13955
2021-09-25    13493
2021-10-16    12571
              ...
2021-05-02        1
2023-06-24        1
2021-10-10        1
2020-10-30        1
2023-01-30        1
Name: count, Length: 925, dtype: int64

In [26]:
np.sum(ppp_1['LoanStatusDate'].isna()) / ppp_1['LoanStatusDate'].size

0.022578888888888888

About 2.25% of loans do not have a recorded Loan Status Date, corresponding to loans which have not been paid back or forgiven.  This may include loans which are partially repaid.

In [27]:
ppp_1[ppp_1['LoanStatusDate'].isna()][['BusinessType', 'BorrowerName', 'CurrentApprovalAmount']]

,BusinessType,BorrowerName,CurrentApprovalAmount
65,Self-Employed Individuals,Exemption 6,20468.0
153,Sole Proprietorship,KIANNA MITCHELL,20000.0
296,Corporation,FRONTIER AUTO SALES LLC,143462.0
532,Sole Proprietorship,STACY GOULD,134418.0
558,Trust,"ALASKA 360, LLC",133394.0
...,...,...,...
899891,Sole Proprietorship,CAMERON MOLETTE,20833.0
899899,Independent Contractors,HAIDEE GOMEZ,20833.0
899928,Sole Proprietorship,ALEXIS LEE,20833.0
899979,Self-Employed Individuals,XI LUO,20833.0
899996,Sole Proprietorship,ANTHONY ALFORD,20833.0

In [28]:
ppp_1['LoanStatus'].value_counts()

LoanStatus
Paid in Full    839306
Charged Off      40373
Exemption 4      20321
Name: count, dtype: int64

In [252]:
ppp_1[ppp_1['LoanStatus'].isna()]

Empty DataFrame
Columns: [LoanNumber, DateApproved, SBAOfficeCode, ProcessingMethod, BorrowerName, BorrowerAddress, BorrowerCity, BorrowerState, BorrowerZip, LoanStatusDate, LoanStatus, Term, SBAGuarantyPercentage, InitialApprovalAmount, CurrentApprovalAmount, UndisbursedAmount, FranchiseName, ServicingLenderLocationID, ServicingLenderName, ServicingLenderAddress, ServicingLenderCity, ServicingLenderState, ServicingLenderZip, RuralUrbanIndicator, HubzoneIndicator, LMIIndicator, BusinessAgeDescription, ProjectCity, ProjectCountyName, ProjectState, ProjectZip, CD, JobsReported, NAICSCode, Race, Ethnicity, UTILITIES_PROCEED, PAYROLL_PROCEED, MORTGAGE_INTEREST_PROCEED, RENT_PROCEED, REFINANCE_EIDL_PROCEED, HEALTH_CARE_PROCEED, DEBT_INTEREST_PROCEED, BusinessType, OriginatingLenderLocationID, OriginatingLender, OriginatingLenderCity, OriginatingLenderState, Gender, Veteran, NonProfit, ForgivenessAmount, ForgivenessDate]
Index: []

[0 rows x 53 columns]

In [29]:
ppp_1[['SBAGuarantyPercentage', 'Term']].describe()

       SBAGuarantyPercentage           Term
count               900000.0  900000.000000
mean                   100.0      43.245192
std                      0.0      17.890245
min                    100.0       0.000000
25%                    100.0      24.000000
50%                    100.0      60.000000
75%                    100.0      60.000000
max                    100.0     136.000000

In [30]:
loan_sz_inc = ppp_1[ppp_1['InitialApprovalAmount'] < ppp_1['CurrentApprovalAmount']]

In [31]:
# By how much were loan amounts increased?
percent_inc = (loan_sz_inc['CurrentApprovalAmount'] - loan_sz_inc['InitialApprovalAmount'])/loan_sz_inc['InitialApprovalAmount']

In [32]:
percent_inc.describe()

count    9.914000e+03
mean              inf
std               NaN
min      3.641363e-08
25%      5.555556e-02
50%      3.235354e-01
75%      1.214191e+00
max               inf
dtype: float64

There are nearly 10,000 loans which were increased.  The median amount of increase was about 32% of the original loan size.

In [33]:
ppp_1['UndisbursedAmount'].describe()

count    899943.000000
mean          0.075249
std          71.385408
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max       67720.000000
Name: UndisbursedAmount, dtype: float64

In [34]:
np.sum(ppp_1['UndisbursedAmount'] > 0)  # only one loan was not fully disbursed

1

In [35]:
ppp_1[ppp_1['FranchiseName'].notna()]['FranchiseName'].head(10)

383    Best Western - Membership Agreement
404                          Vision Source
502                               Pita Pit
521                           Ace Hardware
560                                 Subway
608    Best Western - Membership Agreement
744                                Re-Bath
745                                Re-Bath
899                             SportClips
919                Four Points by Sheraton
Name: FranchiseName, dtype: object

Whether a small business is part of a franchise may signal its robustness for loan repayment.

In [36]:
serv_orig_lender = ppp_1[['CurrentApprovalAmount', 'ServicingLenderName', 'OriginatingLender']]
diff_lenders_mask = (ppp_1['ServicingLenderName'] != ppp_1['OriginatingLender']) & ppp_1['OriginatingLender'].notna()
print(serv_orig_lender[diff_lenders_mask]['OriginatingLender'].value_counts()[:10])
print(serv_orig_lender[diff_lenders_mask]['ServicingLenderName'].value_counts()[:10])

OriginatingLender
BSD Capital, LLC dba Lendistry       17088
US Bank National Association         11025
Kabbage, Inc.                         6648
First Source Federal Credit Union     6572
Celtic Bank Corporation               5411
First Republic Bank                   5111
Readycap Lending, LLC                 5028
Northeast Bank                        2839
Cadence Bank                          2303
WebBank                               2297
Name: count, dtype: int64
ServicingLenderName
Harvest Small Business Finance, LLC          14373
Loan Source Incorporated                     11353
U.S. Bank, National Association              11026
Customers Bank                               10416
PNC Bank, National Association                6572
Square Capital, LLC                           5411
JPMorgan Chase Bank, National Association     5111
Quontic Bank                                  3246
Fed â€“ Kabbage                                 3131
Lendistry SBLC, LLC                           2797
Name: count, dtype: int64

Originating and servicing lenders may be different entities.

In [37]:
ppp_1['BusinessType'].value_counts()

BusinessType
Corporation                            268729
Sole Proprietorship                    232108
Limited  Liability Company(LLC)        164490
Subchapter S Corporation                97160
Self-Employed Individuals               50255
Independent Contractors                 40116
Non-Profit Organization                 18654
Partnership                             12323
Limited Liability Partnership            5520
Single Member LLC                        3979
Professional Association                 3432
Cooperative                               978
501(c)3 â€“ Non Profit                      856
501(c)6 â€“ Non Profit Membership           422
Trust                                     249
Non-Profit Childcare Center               238
Tenant in Common                          116
Qualified Joint-Venture (spouses)          84
Joint Venture                              79
Employee Stock Ownership Plan(ESOP)        39
Tribal Concerns                            10
501(c)19 â€“ Non Profit Veterans              6
501(c) â€“ Non Profit except 3,4,6,           5
Rollover as Business Start-Ups (ROB         2
Name: count, dtype: int64

Business type describes different kinds of incorporations, whether it's a nonprofit, or self-employed individual businesses.

In [38]:
np.sum(ppp_1['RuralUrbanIndicator'].isna())

0

In [39]:
print(np.sum(ppp_1['HubzoneIndicator'].isna()))

0

There are no missing values. There is a significant fraction of borrowers in HubZones.

In [40]:
ppp_1['BusinessAgeDescription'].head()

0    Existing or more than 2 years old
1      New Business or 2 years or less
2    Existing or more than 2 years old
3    Existing or more than 2 years old
4                           Unanswered
Name: BusinessAgeDescription, dtype: object

In [41]:
ppp_1['BusinessAgeDescription'].value_counts()

BusinessAgeDescription
Existing or more than 2 years old         786363
New Business or 2 years or less            76518
Unanswered                                 36762
Startup, Loan Funds will Open Business       234
Change of Ownership                          123
Name: count, dtype: int64

The Business Age Description should be translated to a more intuitive numeric or categorical classification. We can see there are a few classes of businesses with the majority being businesses that have operated for more than 2 years.

In [42]:
# TODO decide how to best encode business age

In [43]:
np.sum(ppp_1['JobsReported'].isna()) # One business does not report their number of employees

1

In [44]:
ppp_1.where(ppp_1['JobsReported'].notna(), other=0, inplace=True)

/var/folders/l7/qw8k931d3z54gh33d0gmyz7c0000gn/T/ipykernel_6332/2600365908.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  ppp_1.where(ppp_1['JobsReported'].notna(), other=0, inplace=True)

In [45]:
ppp_1['JobsReported'].astype('int32')

0          15
1          12
2           3
3         170
4          14
         ...
899995      1
899996      1
899997      1
899998      1
899999      1
Name: JobsReported, Length: 900000, dtype: int32

In [46]:
ppp_1['NAICSCode'].value_counts()

NAICSCode
722511.0    31839
812112.0    28527
621210.0    28197
621111.0    21841
541110.0    19959
            ...
311711.0        1
517212.0        1
313311.0        1
333312.0        1
454112.0        1
Name: count, Length: 1130, dtype: int64

We remark that there are consideration for how to clean the data that are  not yet obvious.  We will proceed first to visualize some of the most important features and do some selected EDA with the goal of building the baseline classification / prediction model.

We also have to sort out the csv backup issue. We will run LFS overnight for this.  For now, keep a desktop backup. And write a .gitignore.

### Testing sweetviz for fast start EDA

In [47]:
import sweetviz as sv

In [49]:
ppp_1['DateApproved'].value_counts()

DateApproved
2020-05-01 00:00:00    107640
2020-04-28 00:00:00     37323
2020-04-30 00:00:00     35252
2020-04-15 00:00:00     25090
2020-04-29 00:00:00     23399
                        ...
2020-07-04 00:00:00        24
2021-01-13 00:00:00         5
2021-06-30 00:00:00         4
2020-04-20 00:00:00         1
0                           1
Name: count, Length: 239, dtype: int64

In [51]:
ppp_1['DateApproved'] = pd.to_datetime(ppp_1['DateApproved'])

In [53]:
ppp_1['DateApproved'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 900000 entries, 0 to 899999
Series name: DateApproved
Non-Null Count   Dtype
--------------   -----
900000 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 6.9 MB

In [55]:
ppp_1['ProcessingMethod'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 900000 entries, 0 to 899999
Series name: ProcessingMethod
Non-Null Count   Dtype
--------------   -----
900000 non-null  object
dtypes: object(1)
memory usage: 6.9+ MB

In [56]:
ppp_1['ProcessingMethod'] = ppp_1['ProcessingMethod'].astype(str)

In [57]:
ppp_1['ProcessingMethod'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 900000 entries, 0 to 899999
Series name: ProcessingMethod
Non-Null Count   Dtype
--------------   -----
900000 non-null  object
dtypes: object(1)
memory usage: 6.9+ MB

In [66]:
ppp_1['BorrowerName'] = ppp_1['BorrowerName'].astype(str)

In [67]:
ppp_1['BorrowerAddress'] = ppp_1['BorrowerAddress'].astype(str)
ppp_1['BorrowerZip'] = ppp_1['BorrowerZip'].astype(str)

In [68]:
ppp_1['LoanStatusDate'] = pd.to_datetime(ppp_1['LoanStatusDate'])

In [69]:
ppp_1['LoanStatus'] = ppp_1['LoanStatus'].astype(str)

In [70]:
ppp_1['FranchiseName'] = ppp_1['FranchiseName'].astype(str)

In [71]:
ppp_1['ServicingLenderLocationID'] = ppp_1['ServicingLenderLocationID'].astype(str)

In [73]:
ppp_1['ServicingLenderAddress'] = ppp_1['ServicingLenderAddress'].astype(str)
ppp_1['ServicingLenderZip'] = ppp_1['ServicingLenderZip'].astype(str)

ppp_1['BusinessAgeDescription'] = ppp_1['BusinessAgeDescription'].astype(str)

ppp_1['ProjectZip'] = ppp_1['ProjectZip'].astype(str)

In [74]:
ppp_1['NAICSCode'] = ppp_1['NAICSCode'].astype(str)

In [79]:
ppp_1.loc[ppp_1['UTILITIES_PROCEED'].isna(), 'UTILITIES_PROCEED'] = 0

In [83]:
temp_df = pd.read_csv('../data/public_up_to_150k_1_230930.csv')

In [84]:
ppp_1['UTILITIES_PROCEED'] = temp_df['UTILITIES_PROCEED']

In [85]:
np.sum(ppp_1['UTILITIES_PROCEED'].isna())

628186

In [86]:
ppp_1['UTILITIES_PROCEED'].value_counts()

UTILITIES_PROCEED
1.00       214247
0.00         4058
1000.00      3025
2000.00      1483
500.00       1084
            ...
3330.58         1
3328.12         1
1663.00         1
1108.33         1
8334.00         1
Name: count, Length: 19648, dtype: int64

In [82]:
ppp_1['PAYROLL_PROCEED'].value_counts()

PAYROLL_PROCEED
20833.00    65532
20830.00     7811
20832.00     7176
20831.00     7056
20829.00     5028
            ...
3737.08         1
2804.54         1
3740.40         1
3739.87         1
19433.33        1
Name: count, Length: 207881, dtype: int64

In [91]:
ppp_1.loc[ppp_1['UTILITIES_PROCEED'].isna()][['CurrentApprovalAmount', 'PAYROLL_PROCEED', 'BorrowerName']].head(20)

,CurrentApprovalAmount,PAYROLL_PROCEED,BorrowerName
1,148440.00,148440.00,NOT AVAILABLE
2,140081.78,140081.78,NORTH CHARLESTON HOSPITALITY GROUP LLC
3,136520.96,136520.96,Q AND J SERVICES LLC
4,130600.00,130600.00,Exemption 6
5,126798.00,126798.00,OPTIMIZED PROCESS SOLUTIONS DBA AAA INDUSTRIES
6,125916.00,125916.00,"D2 POWER SPORTS, LLC"
7,111200.00,111200.00,VULCAN MACHINERY CORPORATION
8,109988.00,109988.00,"TJK KITCHENS &AMP; BREWPUBS, LLC"
9,100000.00,100000.00,RON GOLDSTONE
11,90394.00,90394.00,NOT AVAILABLE
12,89241.00,89241.00,FOTRESS SAFE &AMP; LOCK INC.
13,87886.00,87886.00,TALLMADGE LUTHERAN CHURCH
14,80260.00,80260.00,LAKESIDE CARTAGE INC
15,79003.00,79003.00,STERLING HOME CARE INC
16,76871.00,76871.00,B D KEMP AND CO LLC
17,73568.00,73568.00,VALHALLA ESTATES LLC
18,64942.00,64942.00,EZ DINING LLC
19,57430.00,57430.00,BRILACK INC
20,52682.58,52682.58,"PATRIOT INSURANCE AGENCY, LLC"
21,49563.00,49563.00,SENECA TECHNOLOGIES INC

We can see that in the cases where utilities proceeds were na, this can be correctly mapped to zero, as the loan proceeds are used in a different category.  We can see above that these borrowers used their loans to cover payroll instead of UTILITIES

In [92]:
# Map nulls to $0.00 
ppp_1.loc[ppp_1['UTILITIES_PROCEED'].isna(), 'UTILITIES_PROCEED'] = 0.0

In [94]:
np.sum(ppp_1['UTILITIES_PROCEED'].isna())

0

In [96]:
ppp_1['UTILITIES_PROCEED'] = ppp_1['UTILITIES_PROCEED'].astype(float)

In [99]:
# Repeat a similar mapping for other Proceed categories
for category in ['UTILITIES_PROCEED', 'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED', 'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED', 'DEBT_INTEREST_PROCEED']:
    ppp_1.loc[ppp_1[category].isna(), category] = 0.0
    ppp_1[category] = ppp_1[category].astype(float)

In [233]:
cast_to_str = ['BorrowerState', 'ServicingLenderName', 'ServicingLenderCity','ServicingLenderState', 'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator', 'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity', 'ProjectState', 'ProjectZip', 'CD', 'Ethnicity', 'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState']

for el in cast_to_str:
    ppp_1[el] = ppp_1[el].astype(str)

In [212]:
# One incorrectly recorded value for race as an integer zero, which we surmise is unanswered.
ppp_1['Race'].value_counts()

Race
Unanswered                                   675457
White                                        121118
Asian                                         46495
Black or African American                     44722
American Indian or Alaska Native              11040
Native Hawaiian or Other Pacific Islander      1144
Multi Group                                      15
Eskimo & Aleut                                    8
Puerto Rican                                      1
Name: count, dtype: int64

In [219]:
ppp_1['Race'] = ppp_1['Race'].replace(to_replace=0, value='Unanswered')
ppp_1[ppp_1['Race'] == 0]

In [221]:
ppp_1['Ethnicity'].value_counts()

Ethnicity
Unknown/NotStated         635878
Not Hispanic or Latino    234081
Hispanic or Latino         30040
0                              1
Name: count, dtype: int64

In [226]:
ppp_1['Ethnicity'] = ppp_1['Ethnicity'].replace(to_replace='0', value='Unknown/NotStated')

In [227]:
ppp_1['Ethnicity'].value_counts()

Ethnicity
Unknown/NotStated         635879
Not Hispanic or Latino    234081
Hispanic or Latino         30040
Name: count, dtype: int64

In [238]:
ppp_1['Gender'] = ppp_1['Gender'].replace(to_replace=0, value='Unanswered')
ppp_1['Gender'].value_counts()

Gender
Unanswered      537164
Male Owned      243604
Female Owned    119232
Name: count, dtype: int64

In [241]:
ppp_1['Veteran'] = ppp_1['Veteran'].replace(to_replace=0, value='Unanswered')
ppp_1['Veteran'].value_counts()

Veteran
Unanswered     586185
Non-Veteran    295031
Veteran         18784
Name: count, dtype: int64

In [246]:
ppp_1['NonProfit'].value_counts()

ppp_1[ppp_1['NonProfit']==0].to_dict()

{'LoanNumber': {580847: 0},
 'DateApproved': {580847: Timestamp('1970-01-01 00:00:00')},
 'SBAOfficeCode': {580847: 0.0},
 'ProcessingMethod': {580847: '0'},
 'BorrowerName': {580847: '0'},
 'BorrowerAddress': {580847: '0'},
 'BorrowerCity': {580847: 0},
 'BorrowerState': {580847: '0'},
 'BorrowerZip': {580847: '0'},
 'LoanStatusDate': {580847: Timestamp('1970-01-01 00:00:00')},
 'LoanStatus': {580847: '0'},
 'Term': {580847: 0},
 'SBAGuarantyPercentage': {580847: 0},
 'InitialApprovalAmount': {580847: 0.0},
 'CurrentApprovalAmount': {580847: 0.0},
 'UndisbursedAmount': {580847: 0.0},
 'FranchiseName': {580847: '0'},
 'ServicingLenderLocationID': {580847: '0.0'},
 'ServicingLenderName': {580847: '0'},
 'ServicingLenderAddress': {580847: '0'},
 'ServicingLenderCity': {580847: '0'},
 'ServicingLenderState': {580847: '0'},
 'ServicingLenderZip': {580847: '0'},
 'RuralUrbanIndicator': {580847: '0'},
 'HubzoneIndicator': {580847: '0'},
 'LMIIndicator': {580847: '0'},
 'BusinessAgeDescription': {580847: '0'},
 'ProjectCity': {580847: '0'},
 'ProjectCountyName': {580847: 0},
 'ProjectState': {580847: '0'},
 'ProjectZip': {580847: '0'},
 'CD': {580847: '0'},
 'JobsReported': {580847: 0.0},
 'NAICSCode': {580847: '0.0'},
 'Race': {580847: 'Unanswered'},
 'Ethnicity': {580847: 'Unknown/NotStated'},
 'UTILITIES_PROCEED': {580847: 0.0},
 'PAYROLL_PROCEED': {580847: 0.0},
 'MORTGAGE_INTEREST_PROCEED': {580847: 0.0},
 'RENT_PROCEED': {580847: 0.0},
 'REFINANCE_EIDL_PROCEED': {580847: 0.0},
 'HEALTH_CARE_PROCEED': {580847: 0.0},
 'DEBT_INTEREST_PROCEED': {580847: 0.0},
 'BusinessType': {580847: '0'},
 'OriginatingLenderLocationID': {580847: 0.0},
 'OriginatingLender': {580847: '0'},
 'OriginatingLenderCity': {580847: '0'},
 'OriginatingLenderState': {580847: '0'},
 'Gender': {580847: 'Unanswered'},
 'Veteran': {580847: 'Unanswered'},
 'NonProfit': {580847: 0},
 'ForgivenessAmount': {580847: 0.0},
 'ForgivenessDate': {580847: 0}}

There is a single loan which is must ben entirely recorded wrong, and is causing all of the type mismatches.  I will drop this row and then try the whole df without it.

In [250]:
# The following list is the columns which struggle to coerce to str values
# error_cols = ['BorrowerCity', 'ProjectCountyName', 'ProjectState', 'CD']

# ppp_1_dropped = ppp_1.drop(columns=error_cols)

error_idx = ppp_1[ppp_1['NonProfit']==0].index # Index([580847], dtype='int64')
ppp_1 = ppp_1.drop(index=error_idx)

In [251]:
report_1 = sv.analyze(ppp_1)
report_1.show_html()

                                             |      | [  0%]   00:00 -> (? left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

sv is great for getting a fast preview of what may be the most interesting EDA to perform.

We can also specify a target variable to see some regressions.

In [253]:
ppp_1_ls = pd.get_dummies(data=ppp_1, columns=['LoanStatus'])

In [254]:
ppp_1_ls.columns

Index(['LoanNumber', 'DateApproved', 'SBAOfficeCode', 'ProcessingMethod',
       'BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState',
       'BorrowerZip', 'LoanStatusDate', 'Term', 'SBAGuarantyPercentage',
       'InitialApprovalAmount', 'CurrentApprovalAmount', 'UndisbursedAmount',
       'FranchiseName', 'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDate', 'LoanStatus_Charged Off', 'LoanStatus_Exemption 4',
       'LoanStatus_Paid in Full'],
      dtype='object')

In [ ]:
report_1_regression = sv.analyze(ppp_1_ls, target_feat='LoanStatus_Exemption 4')
report_1_regression.show_html()

                                             |      | [  0%]   00:00 -> (? left)